[submodule "samples"]
	path = samples
	url = https://github.com/FindHao/hpctoolkit-gpu-sanitizer-samples.git
[submodule "jquery.graphviz.svg"]
	path = jquery.graphviz.svg
	url = https://github.com/Jokeren/jquery.graphviz.svg.git
[submodule "redshow"]
	path = redshow
	url = https://github.com/Lin-Mao/redshow.git
[submodule "hpctoolkit"]
	path = hpctoolkit
	url = https://github.com/Lin-Mao/hpctoolkit.git
[submodule "torch-monitor"]
	path = torch-monitor
	url = https://github.com/Jokeren/torch-monitor.git
